.sessions-view {
  margin: 0 auto 70px;
  max-width: 1150px;
}

.sessions-view-title {
  font-weight: 300;
  font-size: 40px;
  margin: 40px 0 20px;
}

.session-entry-row {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
  border-radius: 5px;
  margin: 20px auto 40px;
  padding: 5px;
  height: 100px;
  width: 300px;
  background-color: white;
  color: rgb(80, 80, 100);
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 3px 3px 4px rgb(230,230,230);
}

.session-entry-block:hover {
  background-color: #D1E8F3;
}

.session-entry-title {
  font-size: 22px;
  font-weight: 500;
}

.session-entry-description {
  font-size: 16px;
  color: rgb(140,140,140);
  height: 60px;
}

.session-entry-block .label {
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-weight: 500;
  font-size: 12px;
}

.session-entry-subject {
  margin: auto;
}

.session-entry-date {
  margin: 13px 0;
}

.session-entry-duration {
  margin: 13px 0;
}
