.team-member-box {
  border: 1px solid black;
}

.teams-view {
  margin: 0 auto 70px;
  max-width: 1150px;
}

.teams-entry-block {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
  border-radius: 14px;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  color: rgb(80, 80, 100);
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 3px 8px 3px rgb(230,230,230)
}

.teams-entry-block:hover {
  background-color: #D1E8F3;
}

.teams-entry-user {
  letter-spacing: 2px
  padding: 30px 0 10px;
  font-size: 22px;
  font-weight: 500;
}


.teams-entry-radar-chart {
  margin: 13px 0;
}

.teams-entry-mood-chart {
  margin: 13px 0;
}

.teams-entry-user {
  letter-spacing: 2px
  padding: 30px 0 10px;
  font-size: 22px;
  font-weight: 500;
}

.teams-entry-description {
  margin: 15px 0 20px;
  font-size: 16px;
  color: rgb(140,140,140);
  height: 60px;
}

.teams-entry-block .label {
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-weight: 500;
  font-size: 12px;
}

.teams-entry-block .value {
  font-weight: 300;
  font-size: 18px;
}

.teams-entry-subject {
  margin: 40px 0 13px;
}

.teams-entry-date {
  margin: 13px 0;
}

.teams-entry-duration {
  margin: 13px 0;
}

